<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= catFact %></p>
    <a href="/cats/fact">Get Another Cat Fact</a>
  </body>
</html>
